<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamiento de Citas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Agendar Cita Médica</h1>
        <form action="/test" method="post" onsubmit="return confirmacionAgendamiento()">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required><br><br>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required><br><br>
            <div class="form-group">
                <label for="doctor">Doctor:</label>
                <select class="form-control" id="doctor" name="doctor" required>
                    <option value="1">Doctor 1</option>
                    <option value="2">Doctor 2</option>
                    <option value="3">Doctor 3</option>
                    <option value="4">Doctor 4</option>
                    <option value="5">Doctor 5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="specialty">Specialty:</label>
                <select class="form-control" id="specialty" name="specialty" required>
                    <option value="1">Specialty 1</option>
                    <option value="2">Specialty 2</option>
                    <option value="3">Specialty 3</option>
                    <option value="4">Specialty 4</option>
                    <option value="5">Specialty 5</option>
                </select>
            </div>
            <div class="d-flex justify-content-center my-4y">
                <button type="submit" class="btn btn-primary">Agendar Cita</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <div class="d-flex justify-content-center my-4">
        <button type="button" class="btn btn-primary" onclick="redireccionar()">Volver a la página principal</button>
    </div>

    <script>
        function redireccionar() {
            window.location.href = '/'; 
        }

        function confirmacionAgendamiento() {
            alert("Agendamiento correcto");
            return true; // Este retorno de valor es importante para que el formulario se envíe
        }
    </script>
</body>
</html>
