<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamiento de Citas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Agendar Cita Médica</h1>
        <form action="/schedule" method="post" onsubmit="return confirmacionAgendamiento()">
            <div class="form-group">
                <label for="cd">Cedula</label>
                <input type="text" class="form-control" id="cd" name="cd" required>
            </div>
            <div class="form-group">
                <label for="name">Nombre Completo</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="date">Fecha de la cita</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            
            <div class="form-group">
                <label for="time">Hora de la cita</label>
                <input type="time" class="form-control" id="time" name="time" required>
            </div>
        
            <div class="form-group">
                <label for="doctor">Doctor:</label>
                <select class="form-control" id="doctor" name="doctor" required>
                    <option value="1">Doctor 1</option>
                    <option value="2">Doctor 2</option>
                    <option value="3">Doctor 3</option>
                    <option value="4">Doctor 4</option>
                    <option value="5">Doctor 5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="specialty">Escpecialista:</label>
                <select class="form-control" id="specialty" name="specialty" required>
                    <option value="1">Medicina general</option>
                    <option value="2">Laboratorio clinico</option>
                    <option value="3">Odontologia</option>
                    <option value="4">Otros servicios</option>
                </select>
            </div>
            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-primary mx-2">Agendar Cita</button>
                <button type="button" class="btn btn-primary mx-2" onclick="redireccionar()">Volver a la página principal</button>
                <button type="button" class="btn btn-primary mx-2" onclick="vercita()">Ver citas agendadas</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    

    <script>
        function redireccionar() {
            window.location.href = '/usuario'; 
        }

        function confirmacionAgendamiento() {
            alert("Agendamiento correcto");
            return true; // Este retorno de valor es importante para que el formulario se envíe
        }
        function vercita() {
            window.location.href = '/lista_citas';
        }
    </script>
</body>
</html>
